.left {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.leftContent {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.title {
    margin-bottom: 48px;
}

.userList {
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: white white;
    gap: 8px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border: 2px solid transparent;
        border-radius: 10px;
        margin-left: 8px;
    }
}

.userItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}

.number {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.boxContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 24px;
    width: 216px;
    text-transform: uppercase;
}

.search {
    color: rgb(26, 255, 0);
    border: 1px solid rgb(26, 255, 0);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

.cancel {
    color: red;
    border: 1px solid red;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

.searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
}

.searchBar::placeholder {
    color: #aaa;
}

.searchBar:focus {
    outline: none;
    border-color: #0070f3;
}

.reset {
    color: #0070f3;
    background-color: #fff;
    padding: 8px;
    border: 2px solid #0070f3;
    cursor: pointer;
    border-radius: 20px;
}