.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
    height: 100vh;
    max-height: 100%;
    color: black;
}

.homeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    background-color: rgb(59, 15, 59);
    border-radius: 10px;
}